/*
MAIN COLORS
*/

$base-bg: #fff; // BODY background

/* MAIN COLORS */
$primaryColor: $black;
$secondaryColor: #cc0000;
$blue: #00809e;
$lightBlue: #009bb1;
$blueTransparent: rgba(0, 128, 158, .6);
$green: #568427;
$blueTitle: rgba(0, 128, 158, .8);
$greenTitle: rgba(86, 132, 39, .8);
$redTitle: rgba(255, 114, 93, .8);
$lightRed: #ff725d;

/* LOAD PAGE */
$body-load-bg: $base-bg; // BODY background on load page
$preloader-width: 2rem; // Preloader's size (width and height)
$preloader-default-color: #ccc; // Preloader's border color
$preloader-active-color: $lightBlue; // Preloader's border color
$preloader-border-width: 2px; // Preloader's border-width



