/*
FONTS LOOP
 */

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Thin.eot');
  src: url('../fonts/ProximaNova-Thin.eot?#iefix') format("embedded-opentype"),
  url('../fonts/ProximaNova-Thin.woff') format("woff"),
  url('../fonts/ProximaNova-Thin.ttf') format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format("embedded-opentype"),
  url('../fonts/ProximaNova-Light.woff') format("woff"),
  url('../fonts/ProximaNova-Light.ttf') format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/ProximaNova-Regular.woff') format("woff"),
  url('../fonts/ProximaNova-Regular.ttf') format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format("embedded-opentype"),
  url('../fonts/ProximaNova-Semibold.woff') format("woff"),
  url('../fonts/ProximaNova-Semibold.ttf') format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format("embedded-opentype"),
  url('../fonts/ProximaNova-Bold.woff') format("woff"),
  url('../fonts/ProximaNova-Bold.ttf') format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format("embedded-opentype"),
  url('../fonts/ProximaNova-Black.woff') format("woff"),
  url('../fonts/ProximaNova-Black.ttf') format("truetype");
  font-weight: 900;
}