.view-section {
  position: relative;
  width: 100%;
  order: 1;
  flex-grow: 1;
  background: #f5eeea;
  .main-slider {
    .slick-slide {
      position: relative;
    }
    &__title {
      position: absolute;
      bottom: 7.7%;
      left: 14.286%;
      width: 460px;
      padding: 20px;
      background: $blueTransparent;
      font-size: 34px;
      line-height: 1.3;
      font-weight: 300;
      color: #fff;
      z-index: 3;
      span {
        font-weight: 700;
      }
    }
  }
  .view-posts-list {
    padding: 30px 0 0;
    &__item {
      width: 100%;
      padding: 0 10px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &__link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        max-height: 200px;
        background: #000;
        overflow: hidden;
        &:hover {
          .view-posts-list__item__link__img {
            img {
              transform: scale(1.1);
              opacity: .7;
            }
          }
        }
        &__img {
          width: 100%;
          img {
            display: block;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transition: $slow-transition;
          }
        }
        &__title {
          position: absolute;
          bottom: 30%;
          right: 6.25%;
          display: block;
          font-size: 45px;
          font-weight: 700;
          color: #fff;
          text-transform: uppercase;
          text-shadow: 1px 0 5px rgba(0, 0, 0, .4);
        }
        &__read-more {
          position: absolute;
          bottom: 0;
          right: 0;
          display: block;
          width: 100%;
          max-width: 260px;
          padding: 14px 45px 14px 20px;
          font-size: 16px;
          color: #fff;
          &--bg {
            &-blue {
              background: $blueTitle;
            }
            &-green {
              background: $greenTitle;
            }
            &-red {
              background: $redTitle;
            }
          }
          .icon-arrow {
            position: absolute;
            top: 50%;
            right: 10px;
            display: block;
            @include sprite($arrow);
            transform: translate(-50%, -50%);
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 2px solid #fff;
              transform: translate(-25%, -30%);
            }
          }
        }
      }
    }
  }
  .row {
    .column {
      width: 100%;
      &:first-child {
        margin-right: 20px;
      }
      &:last-child {
        margin-left: 20px;
      }
    }
  }
  .events-list {
    &__item {
      padding: 15px 0;
      border-top: 1px solid #d5ceca;
      &__day {
        font-size: 32px;
        text-align: center;
        color: $green;
        span {
          display: block;
          text-transform: uppercase;
          font-size: 14px;
        }
      }
      &__content {
        width: 100%;
        padding-left: 20px;
        &__title {
          padding-bottom: 5px;
          font-size: 17px;
          text-transform: uppercase;
          color: $lightRed;
        }
        &__time {
          font-size: 13px;
          span {
            font-weight: 600;
          }
        }
        &__button {
          .button--event {
            display: block;
            padding: 8px 20px;
            border-radius: 5px;
            background: $lightBlue;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            transition: $slow-transition;
            &:hover {
              background: $lightRed;
            }
          }
        }
      }
    }
  }
  .read-more {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: $lightRed;
  }
}