.view-header {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  margin: 0 15px;
  padding: 20px;
  background: #fff;
  &__right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__logo {
    &__img {
      width: 100%;
      max-width: 57px;
    }
    &__title {
      padding: 15px 0 0 9px;
      font-size: 38px;
      color: #727372;
      &__label {
        font-weight: 700;
        span {
          font-weight: 200;
        }
      }
      &__desc {
        display: block;
        font-size: 20px;
        text-transform: uppercase;
        color: $blue;
        letter-spacing: 5px;
        transform: translateY(-7px);
      }
    }
    &:hover {
      opacity: .8;
    }
  }
  &__toolbar {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 35px;
    background: $blueTransparent;
    transform: translateX(20px);
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      right: 0;
      width: 13px;
      height: 100%;
      background: $blueTransparent;
      transform: skewY(-45deg) translateX(100%);
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 13px;
      height: 100%;
      background: $blueTransparent;
      transform: translateX(100%);
    }
    .toolbar-list {
      transform: scaleY(1) translate(0);
      transition: $default-transition;
      overflow: hidden;
      &.is-hide {
        width: 0;
        transform: scaleY(0) translateY(-100%);
      }
      &__item {
        position: relative;
        padding: 0 10px;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background: #fff;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        &__link {
          font-size: 13px;
          color: #fff;
          &:hover {
            color: #f1f1f1;
          }
        }
      }
    }
    .form-search {
      width: 100%;
      display: none;
      &.is-active {
        display: block;
      }
      &__field {
        margin: 0 10px;
        .form-control {
          width: 100%;
          padding: 3px;
          border: 0;
          border-bottom: 1px solid #fff;
          background: none;
          color: #fff;
        }
      }
    }
    .toggle-search {
      display: block;
      margin-right: 10px;
      .icon-search {
        display: inline-block;
        @include sprite($search);
      }
    }
  }
  .main-nav-list {
    padding-top: 27px;
    &__item {
      padding-left: 55px;
      &:first-child {
        padding-left: 0;
      }
      &__link {
        display: block;
        font-size: 15px;
        text-transform: uppercase;
        color: $green;
        &:hover {
          color: $lightBlue;
        }
      }
    }
  }
}