<div class="container">
    <header class="flex-box flex-align-center view-header view-text">
        <a href="#" class="flex-box flex-start flex-align-center view-header__logo">
            <span class="view-header__logo__img">
                <img src="/img/img_logo.png" alt="Icon logo"/>
            </span>
            <span class="view-header__logo__title">
                <span class="view-header__logo__title__label">
                    Seven<span>Oaks</span>
                </span>
                <span class="view-header__logo__title__desc text-center">
                    Centre
                </span>
            </span>
        </a>
        <div class="view-header__right-column">
            <div class="js-header-toolbar flex-box flex-align-center view-header__toolbar">
                <ul class="js-toolbar-nav flex-box flex-start flex-align-center toolbar-list">
                    <li class="toolbar-list__item">
                        <a href="#" class="toolbar-list__item__link">
                            Calendar
                        </a>
                    </li>
                    <li class="toolbar-list__item">
                        <a href="#" class="toolbar-list__item__link">
                            Blog
                        </a>
                    </li>
                    <li class="toolbar-list__item">
                        <a href="#" class="toolbar-list__item__link">
                            Contact Us
                        </a>
                    </li>
                </ul>
                <div class="js-box-search form-search">
                    <form id="js-form-search">
                        <div class="form-search__field">
                            <input type="text" class="js-search-input form-control"/>
                        </div>
                    </form>
                </div>
                <a href="#" class="js-toggle-search toggle-search">
                    <i class="icon-search"></i>
                </a>
            </div>
            <ul class="flex-box flex-end flex-align-center main-nav-list">
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        About
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Media
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Events
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Shop
                    </a>
                </li>
                <li class="main-nav-list__item">
                    <a href="#" class="main-nav-list__item__link">
                        Give
                    </a>
                </li>
            </ul>
        </div>
    </header>
</div>