// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-name: 'arrow';
$arrow-x: 0px;
$arrow-y: 74px;
$arrow-offset-x: 0px;
$arrow-offset-y: -74px;
$arrow-width: 15px;
$arrow-height: 12px;
$arrow-total-width: 106px;
$arrow-total-height: 86px;
$arrow-image: '../img/sprite.png';
$arrow: (0px, 74px, 0px, -74px, 15px, 12px, 106px, 86px, '../img/sprite.png', 'arrow', );
$email-name: 'email';
$email-x: 0px;
$email-y: 0px;
$email-offset-x: 0px;
$email-offset-y: 0px;
$email-width: 32px;
$email-height: 32px;
$email-total-width: 106px;
$email-total-height: 86px;
$email-image: '../img/sprite.png';
$email: (0px, 0px, 0px, 0px, 32px, 32px, 106px, 86px, '../img/sprite.png', 'email', );
$facebook-name: 'facebook';
$facebook-x: 37px;
$facebook-y: 0px;
$facebook-offset-x: -37px;
$facebook-offset-y: 0px;
$facebook-width: 32px;
$facebook-height: 32px;
$facebook-total-width: 106px;
$facebook-total-height: 86px;
$facebook-image: '../img/sprite.png';
$facebook: (37px, 0px, -37px, 0px, 32px, 32px, 106px, 86px, '../img/sprite.png', 'facebook', );
$paypal-name: 'paypal';
$paypal-x: 0px;
$paypal-y: 37px;
$paypal-offset-x: 0px;
$paypal-offset-y: -37px;
$paypal-width: 32px;
$paypal-height: 32px;
$paypal-total-width: 106px;
$paypal-total-height: 86px;
$paypal-image: '../img/sprite.png';
$paypal: (0px, 37px, 0px, -37px, 32px, 32px, 106px, 86px, '../img/sprite.png', 'paypal', );
$search-name: 'search';
$search-x: 74px;
$search-y: 37px;
$search-offset-x: -74px;
$search-offset-y: -37px;
$search-width: 17px;
$search-height: 17px;
$search-total-width: 106px;
$search-total-height: 86px;
$search-image: '../img/sprite.png';
$search: (74px, 37px, -74px, -37px, 17px, 17px, 106px, 86px, '../img/sprite.png', 'search', );
$twitter-name: 'twitter';
$twitter-x: 37px;
$twitter-y: 37px;
$twitter-offset-x: -37px;
$twitter-offset-y: -37px;
$twitter-width: 32px;
$twitter-height: 32px;
$twitter-total-width: 106px;
$twitter-total-height: 86px;
$twitter-image: '../img/sprite.png';
$twitter: (37px, 37px, -37px, -37px, 32px, 32px, 106px, 86px, '../img/sprite.png', 'twitter', );
$youtube-name: 'youtube';
$youtube-x: 74px;
$youtube-y: 0px;
$youtube-offset-x: -74px;
$youtube-offset-y: 0px;
$youtube-width: 32px;
$youtube-height: 32px;
$youtube-total-width: 106px;
$youtube-total-height: 86px;
$youtube-image: '../img/sprite.png';
$youtube: (74px, 0px, -74px, 0px, 32px, 32px, 106px, 86px, '../img/sprite.png', 'youtube', );
$spritesheet-width: 106px;
$spritesheet-height: 86px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow, $email, $facebook, $paypal, $search, $twitter, $youtube, );
$spritesheet: (106px, 86px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
